/*==========
    Colors
  ==========

#F2EEE1 - Main background
#F9F8F4 - News panel background
#685635 - Links
#C2B293 - Search button background
#7B2E32 - Dark red for active menu and headers
#A89664 - Blocks and menu items border
#EDE6D3 - Menu items background

*/

/*==========
    Common
  ==========*/

body {
  background-color: #F2EEE1;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

a {
  color: #685635;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

tbody {
  border-top: inherit;
}

/* ==========
     Header
   ========== */

#header {
  position: relative;
}

#header-links {
  float: right;
}

#header-links a img {
  vertical-align: text-bottom;
}

#header-links a.header-icon {
  margin-left: 1em;
}

#header #search-form {
  position: absolute;
  right: 0;
  bottom: 8px;
}

#header #search-form #edit-search-block-form--2 {
  border: none;
/*  outline: none;*/
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

#header #search-form #edit-submit {
  vertical-align: bottom;
}

/* =============
     Main menu
   ============= */

#main-menu li {
  padding: 0em;
}

#main-menu li a {
  display: inline-block;
  padding: 8px;
  margin: 4px 0;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #A89664;
  background-color: #EDE6D3;
}

#main-menu li a:hover {
  color: #EDE6D3;
  text-decoration: none;
  background-color: #685635;
}

#main-menu li a.active {
  color: #7B2E32;
}

/* ==========
     Footer
   ========== */

#footer .section {
  font-size: 75%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/***   Details fieldset   ***/

.details .fieldset-wrapper {
  display: table;
  font-size: 0.875em;
}

.details .field{
  display: table-row;
}

.details .field-label,
.details .field-items {
  display: table-cell;
  float: none;
}

.details .field+.field .field-label {
  padding-top: 0.286em;
}

.details .field-item {
  display: inline;
}

.details .field-item+.field-item:before {
  content: ', ';
}

/***  Common for all blocks   ***/

#mini-panel-news,
#sidebar-first .block {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #A89664;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#sidebar-first .block h2,
#mini-panel-news h2.pane-title {
  margin-top: 0;
  border-bottom: 1px dotted  #A89664;
}

/***   Mini-panel   ***/

#mini-panel-news {
  background-color: #F9F8F4;
  padding-bottom: 0;
}

/***   Side-bar   ***/

#sidebar-first p.informer {
  margin-bottom: 0;
}

#sidebar-first ul.menu {
  padding-left: 1em;
  margin: 0;
}

/***   Node links   ***/

#block-system-main .node-teaser > ul.links.inline {
  float: right;
}

/***   Node teaser   ***/

#block-system-main .node-teaser {
  border-bottom: 1px dotted #A89664;
}

/***   Sticky nodes   ***/

#block-system-main .node-sticky {
  position: relative;
  margin-top: 25px;
}

#block-system-main .node-sticky h2 {
  padding: 10px 10px 0 10px ;
  border: 1px solid #A89664;
  border-bottom: none;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

#block-system-main .node-sticky:before {
  content: url(../images/node_clip.png);
  position: absolute;
  top: -25px;
  right: 50px;
  height: 56px;
  width: 56px;
}

/***   Forum and Comments   ***/

.forum-table-superheader {
  border: 1px solid #A89664;
  background-color: #EDE6D3;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

table.forum-table {
  border-spacing: 0 2px;
  border-collapse: inherit
}

table.forum-table th {
  border: inherit;
}

th.forum-last-post {
  width: 30%;
}

table.forum-table td {
  background-color: #F9F8F4;
}

#forum-statistics {
  background-color: #F9F8F4;
  border: 1px solid #A89664;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#forum-statistics-header {
  background-color: #EDE6D3;
}

#forum-statistics-active-header,
#forum-statistics-statistics-header {
  background-color: #F2EEE1;
}

#forum-statistics-active-body,
#forum-statistics-statistics-body {
  padding-bottom: 0.3em;
}

.forum-node-create-links-top {
  display: none;
}

.forum-node-create-links {
  width: inherit;
}

#forum-sort {
  margin-top: 10px;
}

.forum-post-info {
  background-color: #EDE6D3;
}

.forum-post-wrapper {
  background-color: #EDE6D3;
}

.forum-post-panel-main {
  background-color: #F2EEE1;
}

.comment,
#forum-comments .forum-post {
  padding: 0.5em;
  border-left: 1px dotted #A89664;
  border-bottom: 1px dotted #A89664;
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}

.comment .user-picture {
  float: right;
  padding-left: 1em;
}

.comment .submitted .datetime:before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 4px;
  background-image: url(../images/ico_comment.png);
  background-position: -65px 0;
}

.comment .submitted a.username:before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 4px;
  background-image: url(../images/ico_comment.png);
  background-position: -52px 0;
}

.comment .links.inline {
  float: right;
}

.comment .links.inline,
div.forum-post,
.forum-jump-links,
.forum-post-links {
  margin: 0;
}
/*
.forum-jump-links,
.forum-post-links {
  line-height: 1.5em;
}
*/
.comment .links.inline .last{
 padding-right: 0;
}

.comment .links .quote a:before,
.comment .links .comment-edit a:before,
.comment .links .comment-reply a:before,
.comment .links .comment-delete a:before,
.forum-post-links .links .post-edit a:before,
.forum-post-links .links .post-delete a:before,
.forum-post-links .links .comment-add a:before,
.forum-post-links .links .quote a:before,
.forum-post-links .links .comment-edit a:before,
.forum-post-links .links .comment-reply a:before,
.forum-post-links .links .comment-delete a:before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  background-image: url(../images/ico_comment.png);
}

.comment .links .comment-reply a:before,
.forum-post-links .links .comment-add a:before,
.forum-post-links .links .comment-reply a:before {
  background-position: -13px 0;
}

.comment .links .comment-edit a:before,
.forum-post-links .links .post-edit a:before,
.forum-post-links .links .comment-edit a:before {
  background-position: -26px 0;
}

.comment .links .comment-delete a:before,
.forum-post-links .links .post-delete a:before,
.forum-post-links .links .comment-delete a:before {
  background-position: -39px 0;
}

/***   Pager   ***/

.item-list .pager {
  margin: 0.5em 0;
}

.item-list .pager li {
  margin: 0 0em;
  display: inline-block;
}

.item-list .pager li a {
  border: 1px solid #A89664;
  background-color: #EDE6D3;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.item-list .pager li.pager-current {
  border: 1px solid #7B2E32;
  background-color: #EDE6D3;
  padding: 0.25em 0.5em;
  color: #7B2E32;
  margin: 0 0.25em;
}
