/*==========
    Colors
  ==========

#F2EEE1 - Main background
#685635 - Links
#C2B293 - Search button background
#7B2E32 - Dark red for active menu and headers
#A89664 - Blocks and menu items border
#EDE6D3 - Menu items background

*/

/*==========
    Common
  ==========*/

body {
  background-color: #F2EEE1;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

a {
  color: #685635;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

tbody {
  border-top: inherit;
}

/* ==========
     Header
   ========== */

#header {
  position: relative;
}

#header-links {
  float: right;
}

#search-form {
  position: absolute;
  right: 0;
  bottom: 4px;
}

#search-form #edit-search-block-form--2 {
  border: none;
/*  outline: none;*/
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

#search-form #edit-submit {
  vertical-align: bottom;
}

/* =============
     Main menu
   ============= */

#main-menu li {
  padding: 0em;
}

#main-menu li a {
  display: inline-block;
  padding: 0.5em;
  margin: 4px 0;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #A89664;
  background-color: #EDE6D3;
}

#main-menu li a.active {
  color: #7B2E32;
  border: 1px solid #7B2E32;
}

#main-menu li a:hover {
  color: #EDE6D3;
  text-decoration: none;
  background-color: #685635;
}

/* ==========
     Footer
   ========== */

#footer .section {
  font-style: italic;
  text-align: center;
}

/***   Details fieldset   ***/

.details .fieldset-wrapper {
  display: table;
  font-size: 0.875em;
}

.details .field{
  display: table-row;
}

.details .field-label,
.details .field-items {
  display: table-cell;
  float: none;
}

.details .field+.field .field-label {
  padding-top: 0.286em;
}

.details .field-item {
  display: inline;
}

.details .field-item+.field-item:before {
  content: ', ';
}

/***   Mini-panel   ***/

#mini-panel-news {
  background-color: #F9F8F4;
/*  margin-top: 1em;*/
  padding: 1em 1em 0 1em;
  border: 1px solid #A89664;
}

#mini-panel-news h2.pane-title {
  margin-top: 0;
  border-bottom: 1px dotted  #A89664;
}

/***   Side-bar   ***/

#sidebar-first .block {
  padding: 1em;
/*  margin-top: 1em;*/
  border: 1px solid #A89664;
}

#sidebar-first .block+.block {
  margin-top: 1em;
}

#sidebar-first .block h2 {
  margin-top: 0;
  border-bottom: 1px dotted  #A89664;
}

#sidebar-first p.informer {
  margin-bottom: 0;
}

#sidebar-first ul.menu {
  padding-left: 1em;
  margin: 0;
}

/***   Sticky nodes   ***/

#block-system-main .node-sticky {
  position: relative;
  margin-top: 25px;
}

#block-system-main .node-sticky h2 {
  padding: 10px 10px 0 10px ;
  border: 1px solid #A89664;
  border-bottom: none;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

#block-system-main .node-sticky:before {
  content: url(../images/node_clip.png);
  position: absolute;
  top: -25px;
  right: 50px;
  height: 56px;
  width: 56px;
}
